<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title> Sign-In </title>
</head>
<body>
    <div id='sign-in-box'>
        <h2> Login </h2><br>
        <input type='text' placeholder='ID' name='id' id='id'><br>
        <input type='password' placeholder='Password' name='pw' id='pw'><br>
        <button id='submit'> Sign In </button><br>
        <p class="message"> Not registered? <a href="#"> Create an account </a></p>
    </div>

    <script>
        $("#submit").on("click", function(e){
            var s_id = $("#id").val();
            var s_pw = $("#pw").val();

            $.ajax(  {
                type: "POST",
                url : "/check",
                data : {id : s_id, pw : s_pw}
            }  )
                .done(function(result){
                        if(result == "correct"){
                            window.location.href = "success";
                        }
                        else if(result == 'wrongPW'){
                            alert('Invalid Password!');
                        }
                        else {
                            alert('No Account!');
                        }
                });
            });
    </script>

</body>
</html>