<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Registration </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id='sign-in-box'>
        <h2> Create Account </h2><br>
        <input type='text' placeholder='ID' name='id' id="id"><br>
        <div id="warning-id"></div>
        <input type='password' placeholder='Password' name='pw' id="pw"><br>
        <input type='password' placeholder='Re-Enter Password' name='check-pw' id='check-pw'><br>
        <div id="warning-pw"></div>
        <button id='create'> Create Account </button><br>
    </div>

    <script>
        $("#create").on("click", function(e){
            let id = $("#id").val();
            let pw = $("#pw").val();
            $.ajax({
                url : "/regist",
                method : "post",
                data : {
                    "id" : id,
                    "pw" : pw
                }
            }).done(function(result){
                alert(result);
            });
        });

        $("#check-pw").on("keyup", function(e){
            var check = $(this).val();
            var pw = $("#pw").val();
            if(pw != check){
                $("#warning-pw").html("Password Not Match.");
                $("#warning-pw").css("color", "red");
            }
            else{
                $("#warning-pw").html("Password Matches.");
                $("#warning-pw").css("color", "blue");
                $("#warning-pw").show();
            }
        });

    </script>
</body>

</html>